<footer>
  <div class="footer-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12" style="margin: 0;">
          <div class="footer-links footer-left">
            <a href="#"><img src="./assets/img/logo-watermark.png" alt="WCSR"></a>
            <a href="https://www.facebook.com/SMU.RM.WCSR/"><img src="./assets/img/facebook_logo.png" alt="Facebook"></a>
            <a href="https://www.smu.edu.sg/"><img src="./assets/img/SMU_verticle_white.png" alt="SMU"></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12" style="margin: 0;">
          <div class="footer-links footer-right">
            <a href="https://www.rafflesmarina.com.sg/"><img src="./assets/img/raffles_marina_logo_white.png" alt="Raffles Marina"></a>
            <a href="https://www.facebook.com/SMUsailingclub/"><img src="./assets/img/sailing-logo-round-white.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/smusailing/"><img src="./assets/img/instagram_logo.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-secondary">
    <div class="container">
      <div class="row">
        <p class="align-center">&copy; 2017 SMU Sailing. All Rights Reserved. <br />Designed by Marcus Kyril.</p>
      </div>
    </div>
  </div>
</footer>
